apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}-svc
  namespace: {{ env_type }}
spec:
  selector:
    app: {{ project_name }}
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
